*{
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.section{
    padding: 16px 2in;
}

.hero-title{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.hero-content{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 36px;
    margin: 1in 0;
}

.hero-text{
    flex: 1;
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 250px;
    flex: 1;
}

.placeholder p{
    margin: 10px;
}

.hero, .footer{
    background-color: #1F2937;
}

.quote{
    background-color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    border: 2px solid #3882F6;
    padding: 4px 20px;
    border-radius: 4px;
    margin: 8px 0;
}

ul{
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
}

.information ul{
    margin: 0 0.5in 0.5in;
    justify-content: center;
    flex-wrap: wrap;
}

.information li{
    flex: 0 1 0;
}

.information .placeholder{
    background-color: transparent;
    border: 4px solid #3882F6;
    border-radius: 12px;
    min-width: 200px;
    min-height: 200px;
}

.information .subtext{
    color: black;
    text-align: center;
    flex-basis: 0;
    margin: 5px 0;
}

li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}